# DELETE THIS LINE (INFO-ONLY): YOU MUST INCLUDE "Key,Value" HEADERS IN YOUR CSV FILE
Key,Value
Name,Resource Name
Created-By,Firstname Lastname
Environment,PRODUCTION
Application,Application Name
Backup,True
PCI,False
PII,True
AnotherKey,Another Value
RandomKey,RandomValue
